body{
    padding: 0px;
}

.nav-bar{
    display: flex;
}
.nav-left,.nav-right{
    height: 44px;
    width: 70px;
    text-align: center;
    line-height: 44px;
    background-color: red;
}
.nav-center{
    flex : 1;
    background-color: blue;
    height: 44px;
    text-align: center;
    line-height: 44px;
}
.panel{
    /* background-color: rgb(233, 185, 185); */
    margin-bottom: 20px;
}
.panel>.line{
    display: flex;
    flex-shrink: 0;     /**aviod flexible*/
    margin: 5px;
    height: 350px;
}
.panel>.line>.why5{
    display: flex;
    flex-shrink: 0;     /**aviod flexible*/
    flex-shrink: 0;

}
.panel>.line>.why5>.why{
    width: 250px;
    margin-right:5px;
    background-color: #A9BBD9;
    border-radius: 5px;
}
.panel>.line>.why5>.why>.whyqa{
    float: left;
}
.panel>.line>.why5>.why>.whyqa>.whyqatitleq{
    background-color: #194A96;
    width: 120px;
    border-radius: 3px 0px 10px 0px;
    color: #fff;
    padding: 0px 5px 3px 5px;
    font-size: 16px;
}
.panel>.line>.why5>.why>.whyqa>.whyqacontentq{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel>.line>.why5>.why>.whyqa>.whyqatitlea{
    background-color: #194A96;
    width: 80px;
    border-radius: 3px 0px 10px 0px;
    color: #fff;
    padding: 0px 5px 3px 5px;
    font-size: 16px;
}
.panel>.line>.why5>.why>.whyqa>.whyqacontente{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel>.line>.why5>.why>.whyqaactionpanel{
    float: right;
    width: 30px;
    height: 100%;
    background-color: #3761A3;
    border-radius: 0px 5px 5px 0px;
}
.panel>.line>.why5>.why>.whyqaactionpanel>.whyacbtn{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #ACAF76;
}
.panel>.line>.why5>.emptywhy{
    width: 250px;
    margin-right:5px;
    border-radius: 5px;
}

.panel>.line>.aps{
    display: flex; 
    flex-shrink: 0;     /**aviod flexible*/
}
.panel>.line>.rcaedarootcause{
    margin-right:5px;
    width: 250px;
    background-color: #FFCC00;
    flex-shrink: 0;     /**aviod flexible*/
    border-radius: 5px;
}
.panel>.line>.rcaedarootcause>.content{
    float: left;
}
.panel>.line>.rcaedarootcause>.rcaedarootcauseactionpanel{
    float: right;
    width: 30px;
    height: 100%;
    background-color: #3761A3;
    border-radius: 0px 5px 5px 0px;
}
.panel>.line>.aps>.ap{
    margin-right:5px;
    width: 250px;
    background-color: #3DAA00;
    flex-shrink: 0;
    border-radius: 5px;
}
.panel>.line>.aps>.ap>.content{
    float: left;
}
.panel>.line>.aps>.ap>.content input{
    border: 1px solid #000;
    margin-left: 5px;
    background-color: #3DAA00;
}
.panel>.line>.aps>.ap>.apactionpanel{
    float: right;
    width: 30px;
    height: 100%;
    background-color: #3761A3;
    border-radius: 0px 5px 5px 0px;
}

.btn{
    background-color: ;
    cursor: pointer;
    margin-left: 5px;
}
.portallay{
    background-color: #ddd;
}
.editpanel{
    
}
.editpanel>.maskclass{
    background-color: rgb(104, 91, 91);
}
.editpanel>.qaEditPanel{
    background-color: rgb(104, 91, 91);
}
.panel>.scenario{
    flex-shrink: 0;     /**aviod flexible*/
    margin: 5px;
    height: 350px;
    display: flex;
    flex-flow: row;
    flex-direction: column;
    flex-wrap: wrap;
}
.panel>.scenario>.why{
    width: 250px;
    height: 250px;
    margin-right:5px;
    margin-bottom: 5px;
    background-color: #A9BBD9;
    border-radius: 5px;
}
.panel>.scenario>.why>.whyqa{
    float: left;
}
.panel>.scenario>.why>.whyqa>.whyqatitleq{
    background-color: #194A96;
    width: 120px;
    border-radius: 3px 0px 10px 0px;
    color: #fff;
    padding: 0px 5px 3px 5px;
    font-size: 16px;
}
.panel>.scenario>.why>.whyqa>.whyqacontentq{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel>.scenario>.why>.whyqa>.whyqatitlea{
    background-color: #194A96;
    width: 80px;
    border-radius: 3px 0px 10px 0px;
    color: #fff;
    padding: 0px 5px 3px 5px;
    font-size: 16px;
}
.panel>.scenario>.why>.whyqa>.whyqacontente{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel>.scenario>.why>.whyqaactionpanel{
    float: right;
    width: 30px;
    height: 100%;
    background-color: #3761A3;
    border-radius: 0px 5px 5px 0px;
}
.panel>.scenario>.why>.whyqaactionpanel>.whyacbtn{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #ACAF76;
}

.panel>.scenario>.emptywhy{
    width: 250px;
    height: 250px;
    margin-right:5px;
    margin-bottom: 5px;
    background-color: '';
    border-radius: 5px;
}
.panel>.scenario>.rcaedarootcause{ 
    width: 250px;
    height: 250px;
    margin-right:5px;
    margin-bottom: 5px;
    background-color: #FFCC00;
    flex-shrink: 0;     /**aviod flexible*/
    border-radius: 5px;
}
.panel>.scenario>.rcaedarootcause>.content{
    float: left;
}
.panel>.scenario>.rcaedarootcause>.rcaedarootcauseactionpanel{
    float: right;
    width: 30px;
    height: 100%;
    background-color: #3761A3;
    border-radius: 0px 5px 5px 0px;
}
.addscenario{
    border-radius: 4px;
    background-color: rgb(41, 184, 141);
    font-size: 25px;
    width: 250px;
    height: 45px;
    margin: 5px;
    color: #fff;
}


